<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jason.springbootweb.dao.mapper.UserMapper" >

    <select id="selectUserbyName"  resultType="com.jason.springbootweb.dao.pojo.User">
        SELECT id,username,age,customerid,DATE_FORMAT(birthday,'%Y-%m-%d') as birthday FROM user WHERE username = #{name}
    </select>


    <insert id="insertUser">
      insert into user(id,username,age,customerid,birthday) values(
      #{id},#{username},#{age},#{customerid},STR_TO_DATE(#{birthday},'%Y-%m-%d %H:%i:%s')
      )
    </insert>




</mapper>